<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Logic1">
  <test thread-count="5" name="Test1">
    <classes>
    <parameter name="browser" value="chrome">
      <class name="com.automation.LinkTesting1"/>
    </parameter>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test2">
    <classes>
    <parameter name="browser" value="firefox">
      <class name="com.automation.LinkTesting1"/>
    </parameter>
    </classes>
    </test> <!-- Test -->
    <test thread-count="5" name="Test3">
    <classes>
    <parameter name="browser" value="ie">
      <class name="com.automation.LinkTesting1"/>
    </parameter>
    </classes>
    </test> <!-- Test -->
    
</suite> <!-- Suite -->
